{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'contactstyle.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-JkwKoylUp8oDJy+pIv/UE/1JTwIfYH8S+uV7vkr/KPiTmV7Fd3f6U4wjnUzR6eECVJGFrQglr+v0hLvIX+R0LA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}
<div id="contact-page" class="container mt-5">
    <h1 class="text-center mb-4">Contact Us</h1>
    <div class="contact-info text-center">
        <div class="button-wrapper mb-4">
            <a href="tel:+14076195738" class="btn btn-primary">Click to Give us a Call!</a>
            <a href="mailto:PokePackersContact@gmail.com" class="btn btn-secondary">Email us with any Concerns!</a>
        </div>
        <div class="logo">
            <img src="{% static 'pokepackers.png' %}" alt="PokePackers Logo" class="img-fluid">
        </div>
    </div>
</div>
{% endblock %}
